/*Color Constants*/
:root{
    --dark-blue: hsl(225, 75%, 20%);
    --dark-blue-shadow: hsl(225, 75%, 20%, 20%);
    --light-blue: hsl(225, 75%, 98%);
    
    --button-static: hsl(225, 75%, 80%);
    --button-clicked: hsl(225, 76%, 10%);
    --button-held: hsl(225, 75%, 25%);
}


/*Changes your normal HTML elements*/
body{
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: Helvetica;
    color: var(--dark-blue);;
    background-color: var(--light-blue);
}

h1{
    font-size: 4em;
}


/*Testing a new UI layout for map.html, map taking 2/3 on the left and a side bar on the right third*/
#mapContainer{
    display: flex;
    flex: 1;
}

#map{
    display: flex;
    width: 80%;
    border: 2px solid black;
}

#sideBar{
    display: flex;
    width: 20%;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    background-color: var(--light-blue);
}

#navContainer{
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}

/*Navigation Button and Container*/
#navBtn{
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    color: white;
    background-color: var(--button-static);
    cursor: pointer;
}

#navBtn:hover{
    background-color: var(--button-clicked);
}


/*General centered container for a DIV*/
#container{
    text-align: center;
}


/*Container for ALL flight boxes, allows the indiv boxes to be in line and spaced with one another*/
#flights{
    display: flex;                              /*Allows the boxes of info to be side by side*/
    justify-content: center;
    flex-wrap: wrap;                            /*If the amount of boxes exceeds the max width, start on a new line*/
    margin-top: 2em;
}

/*These are the inidivudal flights and their information in a box*/
.indivFlight{
    font-size: 1.5em;
    text-align: center;
    width: 300px;
    height: 320px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    border-radius: 15px;
    color: var(--light-blue);
    background-color: var(--dark-blue);
    box-shadow: 5px 5px 15px var(--dark-blue-shadow);
}